@model carseller1.Models.ViewModels.SaleFormViewModel

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h4>Sale</h4>
<hr />
<div class="row">
    <div class="col-md-6">

        <form asp-action="Create">
            <div class="form-group">

                <label asp-for="Sale.SaleValue" class="control-label"></label>
                <input asp-for="Sale.SaleValue" class="form-control" />
                <span asp-validation-for="Sale.SaleValue" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Sale.SaleComission" class="control-label"></label>
                <input asp-for="Sale.SaleComission" class="form-control" />
                <span asp-validation-for="Sale.SaleComission" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Sale.SaleDate" class="control-label"></label>
                <input asp-for="Sale.SaleDate" class="form-control" />
                <span asp-validation-for="Sale.SaleDate" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Sale.Status" class="control-label"></label>
                <input asp-for="Sale.Status" class="form-control" />
                <span asp-validation-for="Sale.Status" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Sale.Client" class="control-label"></label>
                <input asp-for="Sale.Client" class="form-control" />
                <span asp-validation-for="Sale.Client" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="Sale.User" class="control-label"></label>
                <input asp-for="Sale.User" class="form-control" />
                <span asp-validation-for="Sale.User" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Sale.ClientId" class="control-label"></label>
                <select asp-for="Sale.ClientId" asp-items="@(new SelectList(Model.Clients, "Id", "Name"))" class="form-control"></select>
                <span asp-validation-for="Sale.ClientId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Sale.UserId" class="control-label"></label>
                <select asp-for="Sale.UserId" asp-items="@(new SelectList(Model.Users, "Id", "Name"))" class="form-control"></select>
                <span asp-validation-for="Sale.UserId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
